<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBIEuuAC5FZK6Nc1z-M7SUMnsts4e9TrCw</string>
	<key>GCM_SENDER_ID</key>
	<string>588650915805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.coffeeShopApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>coffee-shop-app-9c07f</string>
	<key>STORAGE_BUCKET</key>
	<string>coffee-shop-app-9c07f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588650915805:ios:14e1498c5469bda8f0b834</string>
</dict>
</plist>